.minicartTitle {
	color: #ffffff;

}

.productName {
	color:#59ff00;

}

.productBrandName {
	color: #ffffff;

}

.price {
	color:#59ff00;
	font-size: 30px;
}

.deleteIcon {
    color: #59ff00;
    font-size: 1000px;
    height: 50px;
}

.removeButton {
    width: 50px;
}

.unitPriceContainer {
   font-size: 16px;
}
